.title{
	background-color: cadetblue;
	height: 450px;
}

.title > div {
	margin-top: 170px;
	color: white;
}

.isRecording{
	background-color: #d9534f;
}

.isNotRecording{
	background-color: #6D9933;
}

.fa-microphone{
	color: white;
}